{{define "components/button"}}
  {{if .Options.Href}}
    <a
      href="{{.Options.Href}}"
      class="{{buttonClass .Options.Variant .Options.Size .Options.FullWidth .Options.Loading}}"
      data-loading="{{.Options.Loading}}"
      aria-disabled="{{or .Options.Disabled .Options.Loading}}"
      {{range $k, $v := .Options.Attrs}} {{$k}}="{{$v}}"{{end}}
    >
      {{if .Options.Leading}}
        <span class="btn-icon-leading">{{.Options.Leading}}</span>
      {{end}}
      <span class="btn-label">{{.Label}}</span>
      {{if .Options.Trailing}}
        <span class="btn-icon-trailing">{{.Options.Trailing}}</span>
      {{end}}
    </a>
  {{else}}
    <button
      type="{{buttonType .Options.Type}}"
      class="{{buttonClass .Options.Variant .Options.Size .Options.FullWidth .Options.Loading}}"
      data-loading="{{.Options.Loading}}"
      {{if or .Options.Disabled .Options.Loading}}disabled{{end}}
      {{range $k, $v := .Options.Attrs}} {{$k}}="{{$v}}"{{end}}
    >
      {{if .Options.Leading}}
        <span class="btn-icon-leading">{{.Options.Leading}}</span>
      {{end}}
      <span class="btn-label">{{.Label}}</span>
      {{if .Options.Trailing}}
        <span class="btn-icon-trailing">{{.Options.Trailing}}</span>
      {{end}}
    </button>
  {{end}}
{{end}}
